*/node_modules
*/dist
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.cache
*/.history
*/.sourcemaps
*/.vs
*/.nyc_output
*/.eslintcache
*/.yarn
*/.yarnrc
*/.yarn-integrity
*/.yarn-metadata
*/.pnp.*
*/.pnp.js
*/.pnp.cjs
*/.pnp.json
*/.pnp
*/.yarnrc.yml
*/.yarnignore
*/.yarn-integrity
*/.yarn-metadata.json
./tests/performnce/node_modules